.container {
	margin-inline: auto;
	width: unquote('min(90%, 70.5rem)');
	position: relative;
	&--top {
		margin-inline: auto;
	}
}
@media only screen and (breakpoint(md)) {
	.container--top {
		width: unquote('min(90%, 70.5rem)');
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
}

@for $i from 1 through $columns {
	.col-#{$i} {
		flex: 0 0 calc(100% / $columns) * $i;
	}
}
@each $d in $display {
	.d-#{$d} {
		display: $d;
		@if $d == flex {
			flex-wrap: wrap;
		}
	}
}
@each $j in $justify {
	.justify-#{$j} {
		justify-content: $j;
	}
}
@each $a in $align {
	.align-#{$a} {
		align-items: $a;
	}
}
@each $bp, $breakpoint in $breakpoints {
	@media screen and (breakpoint(#{$bp})) {
		@for $i from 1 through $columns {
			.col-#{$bp}-#{$i} {
				flex: 0 0 calc(100% / $columns) * $i;
			}
		}
		@each $d in $display {
			.d-#{$bp}-#{$d} {
				display: $d;
				@if $d == flex {
					flex-wrap: wrap;
				}
			}
		}
		@each $j in $justify {
			.justify-#{$bp}-#{$j} {
				justify-content: $j;
			}
		}
		@each $a in $align {
			.align-#{$bp}-#{$a} {
				align-items: $a;
			}
		}
	}
}
