.portfolio {
	&-column {
		display: block;
		@media screen and (breakpoint(lg)) {
			display: flex;
		}
	}
	&-link {
		position: relative;
		overflow: hidden;
		border-radius: 1rem;
		display: block;
		margin: 0;
		@media screen and (breakpoint(lg)) {
			display: flex;
		}
		.wp-post-image {
			height: 100%;
			width: 100%;
			object-fit: cover;
			filter: grayscale(1);
			@include transition-ease;
		}
		&:hover .wp-post-image {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}
	&-inner {
		margin-top: 1rem;
		width: 100%;
		text-align: center;
		@media screen and (breakpoint(md)) {
			margin-top: 0;
			position: absolute;
			bottom: 0.65rem;
			left: 1rem;
			padding: 1rem;
			text-align: left;
			// background-color: $primary-dark-80;
		}
	}
}
.featured .portfolio-link .wp-post-image {
	filter: grayscale(0);
}
.col-md-4.portfolio-column .portfolio-link {
	margin-bottom: 2rem;
}
@media screen and (breakpoint(md)) {
	.col-md-8.portfolio-column {
		.portfolio-link {
			margin-right: 1rem;
		}
	}
	.col-md-4.portfolio-column {
		flex-direction: column;
		.portfolio-link:first-of-type {
			margin-bottom: 0.5rem;
		}
		.portfolio-link:last-of-type {
			margin-top: 0.5rem;
		}
	}
	.col-md-4.portfolio-column .portfolio-link {
		margin-bottom: 0rem;
	}
}
.skills {
	&-parent {
		width: 100%;
		&-li {
			border-radius: 1rem;
			display: block;
			padding: 1rem;
			margin-block: 2rem;
			display: flex;
			flex-direction: column;
			text-align: center;
			overflow: hidden;
			cursor: pointer;
			&:last-of-type {
				margin-bottom: 0;
			}
			max-height: 53px;
			@include transition-ease;
			&:hover {
				max-height: 600px;
			}
			@media screen and (breakpoint(lg)) {
				padding: 1rem 0;
			}
			@media screen and (breakpoint(xl)) {
				padding: 1rem;
			}
		}
	}
	&-child {
		padding: 0.5rem 1rem;
		&-li {
			text-align: left;
			padding-bottom: 0.25rem;
		}
	}
}
.sidebar-hr {
	border-top: 1px solid $grey-dark;
	@media screen and (breakpoint(lg)) {
		border-top: 0;
		border-left: 1px solid $grey-dark;
		padding-left: 2rem;
	}
}
.blurb {
	&-three {
		width: 100%;
		@media screen and (breakpoint(md)) {
			width: 32%;
		}
	}
}
.accordion {
	max-height: 100px;
	overflow: hidden;
	@include transition-ease;
	position: relative;
	cursor: pointer;
	&::after {
		content: '>';
		display: block;
		position: absolute;
		top: -5px;
		right: 10px;
		transform: rotate(90deg);
		transform-origin: center;
		color: $primary-accent;
		@include transition-ease;
	}
	&-open {
		max-height: 1000px;
		&::after {
			transform: rotate(-90deg);
		}
	}
}

.rounded-border {
	border-radius: 1rem;
}
